@font-face {
    font-family: AvenirNext;
    src: url("/src/assets/font/AvenirNextLTPro-Regular.otf");
}

@font-face {
    font-family: AvenirNextDemiBold;
    font-weight: 600;
    src: url("/src/assets/font/AvenirNextLTPro-Demi.otf");
}

@font-face {
    font-family: AvenirNextBold;
    font-weight: 700;
    src: url("/src/assets/font/AvenirNextLTPro-Bold.otf");
}

@font-face {
    font-family: AvenirNextUltLit;
    font-weight: 275;
    src: url("/src/assets/font/AvenirNextLTPro-UltLtCn.otf");
}

:root {
    --primary-green: #2e5629;
    --primary-white: #f5f1d7;
    --primary-font: #161715;
    --background-white: #fffdf3;
    --button: #d55d2f;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[id] {
    scroll-margin-top: 128px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    flex: 1;
}

nav {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 124px;
    background: var(--primary-green);
    box-shadow: 0 4px 4px #00000026;
    z-index: 100;
}

nav p {
    font-family: AvenirNextBold;
    color: var(--primary-white);
    transition: all 0.2s;
    padding: 0;
    margin: 0;
    font-size: 19px;
}

.navbar {
    width: 1320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-right,
.nav-phone {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-phone-numbers {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: -10px;
}

.nav-phone-numbers a {
    font-family: AvenirNext;
    color: var(--primary-white);
    text-decoration: none;
    cursor: pointer;
}

.nav-phone p {
    font-family: AvenirNext;
}

.nav-link {
    text-decoration: none;
}

.nav-link p:hover {
    cursor: pointer;
    color: var(--button);
}

.logo {
    display: flex;
    gap: 8px;
}

p {
    font-family: AvenirNext, sans-serif;
    font-size: 24px;
    color: var(--primary-font);
    margin: 0;
    line-height: 130%;
}

.p-demi {
    font-family: AvenirNextDemiBold;
    color: var(--primary-green);
}

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 47px;
    color: var(--primary-green);
}

.hero-banner-main {
    width: 1440px;
    margin: 0 auto;
    height: 828px;
    background-color: red;
    overflow: hidden;
}

.hero-circle {
    background-color: transparent;
    border: 18px solid var(--primary-white);
    border-radius: 100%;
    height: 1024px;
    width: 1024px;
    position: relative;
    top: 252px;
    right: 284px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle-movement {
    top: 356px;
    right: 336px;
}

.hero-inner-circle {
    background-color: var(--primary-green);
    height: 988px;
    width: 988px;
    border-radius: 100%;
    border: 6px solid var(--primary-white);
}

.hero-text {
    position: absolute;
    right: 148px;
    top: 112px;
}

.alt-movement {
    right: 156px;
    top: 122px;
    width: 482px;
}

.hero-h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 57px;
    margin-bottom: 12px;
    color: var(--primary-white);
}

.hero-p,
.hero-p a {
    font-size: 24px;
    color: var(--primary-white);
    transition: 0.3s;
    line-height: 130%;
}

.hero-p a:hover {
    color: var(--button);
}

.alt-text,
.alt-text a {
    font-size: 30px;
}

a {
    text-decoration: 1px underline;
}

button {
    font-family: AvenirNextBold, sans-serif;
    font-size: 19px;
    color: var(--primary-white);
    background-color: var(--button);
    cursor: pointer;
    transition: all 0.2s;
    padding: 7px 28px;
    border: none;
    border-radius: 0 20px 0 20px;
}

.hero-text button {
    font-size: 24px;
    margin-top: 40px;
    padding: 22px 48px;
    border-radius: 0 48px 0 48px;
}

button:hover {
    background-color: var(--primary-white);
    color: var(--button);
}

.centered {
    text-align: center;
    align-self: center;
}

.white-div {
    background-color: var(--background-white);
    display: flex;
    justify-content: center;
}

.green-div {
    background-color: var(--primary-green);
    display: flex;
    justify-content: center;
}

.main-div-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1440px;
    gap: 16px;
    margin: 128px 0;
}

.main-div-textbox {
    max-width: 52%;
}

.right-side {
    display: flex;
    justify-content: flex-end;
}

.main-div-box button {
    background-color: var(--primary-green);
    padding: 14px 40px;
    margin-top: 32px;
    border-radius: 0 32px 0 32px;
}

.main-div-box button:hover {
    background-color: var(--button);
    color: var(--primary-white);
}

.white-div-textbox button:hover {
    background-color: var(--button);
    color: var(--primary-white);
}

.greentext {
    color: var(--primary-green);
}

.blacktext {
    color: var(--primary-font);
}

.bigger-text {
    font-size: 30px;
}

.nodeco {
    text-decoration: none;
}

.offwhite-div {
    background-color: var(--primary-white);
    display: flex;
    justify-content: center;
}

.offwhite-div a,
.offwhite-div p {
    transition: 0.3s;
}

.offwhite-div a:hover {
    color: var(--button);
}

.rehab-fugler {
    display: flex;
    gap: 32px;
    margin-top: 48px;
}

.rehab-fugler-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 485px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.rehab-fugler-box:hover {
    scale: 1.05;
}

.rehab-fugler-img {
    background-color: red;
    height: 100%;
    width: auto;
    border-radius: 20px 20px 0 0;
}

.rehab-fugler-text {
    display: flex;
    flex-direction: column;
    background-color: var(--background-white);
    padding: 14px 24px 36px 24px;
    width: auto;
    border-radius: 0 0 20px 20px;
}

.rehab-fugler-text h2 {
    margin: 0;
    padding-bottom: 8px;
}

.rehab-fugler-text p {
    color: var(--primary-font);
}

.stott-inline {
    display: inline;
}

#support-highlight {
    color: var(--button);
    font-family: AvenirNextDemiBold;
}

#support-member {
    text-decoration: none;
    font-family: AvenirNextDemiBold;
    color: var(--button);
    transition: 0.3s;
}

#support-member:hover {
    color: var(--primary-green);
}

#stott-bold {
    font-family: AvenirNextBold;
    color: var(--primary-font);
}

li {
    margin: 64px 0;
    font-family: AvenirNext;
    font-size: 24px;
}

li a {
    color: var(--primary-font);
    text-decoration: none;
    transition: 0.3s;
}

li a:hover {
    color: var(--button);
}

.quicknavbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1320px;
    margin: 16px 0;
}

.quicknavbox p {
    color: var(--primary-green);
    font-family: AvenirNextDemiBold;
    margin-bottom: 16px;
}

.quicknav a {
    color: var(--primary-green);
    font-family: AvenirNext;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.2s;
}

.quicknav a.active {
    color: var(--button);
}

.quicknav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sidebyside {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-div-box {
    padding: 60px;
    max-width: 1320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-div-text {
    width: 57%;
}

.spacer {
    padding: 80px 0;
}

table {
    width: 1320px;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 20px;
    table-layout: fixed;
}

td {
    height: 60px;
    border: 1px solid var(--primary-green);
    background-color: transparent;
    font-family: AvenirNext;
}

tr:first-child td {
    font-family: AvenirNextDemiBold;
    background-color: var(--primary-green);
    color: var(--primary-white);
}

td:first-child {
    font-family: AvenirNextDemiBold;
    background-color: var(--primary-white);
    color: var(--primary-green);
}

tr:first-child td + td {
    border-left: 1px solid var(--primary-white);
}

tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.helplist {
    list-style-type: decimal;
}

.helplist li {
    margin: 32px 0;
    color: var(--primary-green);
    font-family: AvenirNextDemiBold;
}

.helplist li p {
    font-family: AvenirNext;
    display: inline;
    color: var(--primary-font);
}

.helplist li p a {
    text-decoration: underline;
}

.infobox-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 48px;
}

.infobox {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: var(--background-white);
    border-radius: 20px;
    align-items: center;
}

.infobox h2 {
    padding-top: 20px;
}

.infobox p {
    padding: 16px 24px 24px 32px;
}

.underline {
    border: 1px solid var(--primary-green);
    width: 60%;
}

.form-div {
    max-width: 780px;
    font-family: AvenirNext;
    font-size: 20px;
}

.form-div-inner {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 8px 0 16px 0;
}

.form-div-inner div {
    width: 44.75%;
}

input {
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-white);
    font-family: AvenirNext;
    font-size: 20px;
    padding: 16px;
}

.form-div-inner-alt {
    display: flex;
    gap: 16px;
}

.form-div-inner-alt label {
    width: 50%;
}

.form-radio {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    cursor: pointer;
    position: relative;
}

.form-radio input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    height: 25px;
    width: 25px;
    background-color: var(--primary-white);
    border-radius: 50%;
    transition: 0.3s;
}

.form-radio:hover .checkmark {
    background-color: var(--button);
}

.form-radio input:checked ~ .checkmark {
    background-color: var(--primary-green);
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.form-radio input:checked ~ .checkmark::after {
    display: block;
}

.checkmark::after {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: var(--primary-white);
    position: relative;
    top: 7px;
    left: 7px;
}

textarea {
    border: none;
    padding: 16px;
    font-family: AvenirNext;
    font-size: 20px;
    width: 748px;
    height: 285px;
    background-color: var(--primary-white);
    border-radius: 8px;
    resize: vertical;
}

.memberlabel {
    font-size: 20px;
    font-family: AvenirNext;
}

.memberinput {
    background-color: var(--background-white);
    margin: 8px 0 24px 0;
    max-width: 75%;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: #f5f1d799;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal-overlay.show {
    opacity: 1;
}

.modal-overlay.hide {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 20px;
    padding: 40px;
    position: relative;
    max-width: 500px;
    width: 90%;

    transform: scale(0.95);
    transition: transform 0.3s ease;
}

.modal-overlay.show .modal {
    transform: scale(1);
}

.modal-close {
    position: absolute;
    top: 12px;
    right: 16px;
    border: none;
    background: none;
    font-size: 22px;
    cursor: pointer;
}

footer {
    width: 100%;
    background: var(--primary-green);
    display: flex;
    justify-content: center;
}

footer p {
    font-family: AvenirNext;
    color: var(--primary-white);
}

footer h2 {
    font-family: AvenirNextBold;
    font-size: 20px;
    color: var(--primary-white);
    padding-bottom: 12px;
    margin: 0;
}

.footer-div {
    width: 1440px;
}

.footer-div-top {
    padding: 128px 60px 80px 60px;
    display: flex;
    justify-content: space-between;
}

.footer-div p {
    font-size: 18px;
}

.footer-infobox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer a {
    font-family: AvenirNext;
    font-size: 18px;
    text-decoration: none;
    color: var(--primary-white);
    transition: all 0.2s;
}

footer a:hover {
    color: var(--button);
}

.footer-numbers .credits {
    border-top: 1px solid var(--primary-white);
    padding: 30px 0 42px 60px;
}

.credits {
    border-top: 1px solid #f5f1d780;
    margin-left: 60px;
    margin-right: 60px;
    padding: 32px 48px;
}

.credits p,
.credits a {
    font-family: AvenirNextUltLit;
    font-size: 20px;
    color: #f5f1d7a1;
}

.Layout {
    margin-top: 124px;
    background-color: var(--primary-white);
}

.imgplaceholder {
    background-color: red;
    height: 482px;
    width: 482px;
}
