@font-face {
    font-family: AvenirNext;
    src: url("/src/assets/font/AvenirNextLTPro-Regular.otf");
}

@font-face {
    font-family: AvenirNextDemiBold;
    font-weight: 600;
    src: url("/src/assets/font/AvenirNextLTPro-Demi.otf");
}

@font-face {
    font-family: AvenirNextBold;
    src: url("/src/assets/font/AvenirNextLTPro-Bold.otf");
}

@font-face {
    font-family: AvenirNextUltLit;
    font-weight: 275;
    src: url("/src/assets/font/AvenirNextLTPro-UltLtCn.otf");
}

:root {
    color-scheme: light dark;

    --primary-green: #2e5629;
    --primary-white: #f5f1d7;
    --primary-font: #161715;
    --background-white: #fffdf3;
    --button: #d55d2f;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    align-items: center;
}

nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    height: 124px;
    background: var(--primary-green);
    box-shadow: 0 4px 4px #00000026;
}

nav p {
    font-family: AvenirNextBold;
    color: var(--primary-white);
    transition: all 0.2s;
    padding: 0;
    margin: 0;
    font-size: 19px;
}

.navbar {
    padding: 0 60px;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-right,
.nav-phone {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-phone-numbers {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: -10px;
}

.nav-phone-numbers a {
    font-family: AvenirNext;
    color: var(--primary-white);
    text-decoration: none;
    cursor: pointer;
}

.nav-phone p {
    font-family: AvenirNext;
}

.nav-link {
    text-decoration: none;
}

.nav-link p:hover {
    cursor: pointer;
    color: var(--button);
}

.logo {
    display: flex;
    gap: 8px;
}

p {
    font-family: AvenirNext, sans-serif;
    font-size: 24px;
    color: var(--primary-font);
    margin: 0;
}

.p-demi {
    font-family: AvenirNextDemiBold;
    color: var(--primary-green);
}

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 47px;
    color: var(--primary-green);
}

.hero-p {
    font-family: AvenirNext, sans-serif;
    font-size: 30px;
    color: var(--primary-white);
}

.hero-h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 57px;
    color: var(--primary-white);
}

button {
    font-family: AvenirNextBold, sans-serif;
    font-size: 19px;
    color: var(--primary-white);
    background-color: var(--button);
    cursor: pointer;
    transition: all 0.2s;
    padding: 7px 28px;
    border: none;
    border-radius: 0 20px 0 20px;
}

button:hover {
    background-color: var(--primary-white);
    color: var(--button);
}

footer {
    background: var(--primary-green);
}

footer p {
    color: var(--primary-white);
}

footer h2 {
    font-family: AvenirNextBold;
    font-size: 20px;
    color: var(--primary-white);
    padding-bottom: 12px;
    margin: 0;
}

.footer-div {
    padding: 128px 60px 80px 60px;
    display: flex;
    justify-content: space-between;
}

.footer-div p {
    font-size: 18px;
}

.footer-infobox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-numbers a {
    text-decoration: none;
    color: var(--primary-white);
    transition: all 0.2s;
}

.footer-numbers a:hover {
    color: var(--button);
}

.footer-numbers .credits {
    border-top: 1px solid var(--primary-white);
    padding: 30px 0 42px 60px;
}

.credits p {
    font-family: AvenirNextUltLit;
    font-size: 20px;
    line-height: 130%;
}

.Layout {
    background-color: red;
    margin-top: 124px;
    width: 1440px;
}
