@font-face {
    font-family: AvenirNext;
    src: url("/src/assets/font/AvenirNextLTPro-Regular.otf");
}

@font-face {
    font-family: AvenirNextDemiBold;
    font-weight: 600;
    src: url("/src/assets/font/AvenirNextLTPro-Demi.otf");
}

@font-face {
    font-family: AvenirNextBold;
    src: url("/src/assets/font/AvenirNextLTPro-Bold.otf");
}

@font-face {
    font-family: AvenirNextUltLit;
    font-weight: 275;
    src: url("/src/assets/font/AvenirNextLTPro-UltLtCn.otf");
}

:root {
    color-scheme: light dark;

    --primary-green: #2e5629;
    --primary-white: #f5f1d7;
    --primary-font: #161715;
    --background-white: #fffdf3;
    --button: #d55d2f;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    align-items: center;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 124px;
    background: var(--primary-green);
    padding: 0 60px;
    align-items: center;
}

nav p {
    font-family: AvenirNextBold;
    color: var(--primary-white);
    transition: all 0.2s;
    padding: 0;
    margin: 0;
    font-size: 19px;
}

.nav-right,
.nav-phone {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav-phone-numbers {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.nav-phone p {
    font-family: AvenirNext;
}

.nav-link {
    text-decoration: none;
}

.nav-link p:hover {
    cursor: pointer;
    color: var(--button);
}

.logo {
    display: flex;
}

p {
    font-family: AvenirNext, sans-serif;
    font-size: 24px;
    color: var(--primary-font);
}

.p-demi {
    font-family: AvenirNextDemiBold;
    color: var(--primary-green);
}

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 47px;
    color: var(--primary-green);
}

.hero-p {
    font-family: AvenirNext, sans-serif;
    font-size: 30px;
    color: var(--primary-white);
}

.hero-h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 57px;
    color: var(--primary-white);
}

button {
    font-family: AvenirNextBold, sans-serif;
    color: var(--primary-white);
    background-color: var(--button);
    cursor: pointer;
    transition: all 0.2s;
    padding: 7px 28px;
    border: none;
    border-radius: 0 20px 0 20px;
}

button:hover {
    background-color: var(--primary-white);
    color: var(--button);
}

.Layout {
    background-color: red;
    width: 1440px;
}
